APP_NAME=Personal Second Brain
DEBUG=True

DATABASE_URL=sqlite:///./psb.db
DATABASE_ENCRYPT_KEY=REPLACE_DATABASE_ENCRYPT_KEY

SECRET_KEY=REPLACE_SECRET_KEY
ADMIN_SECRET_KEY=REPLACE_ADMIN_SECRET_KEY

REDIS_URL=redis://localhost:6379/0

OLLAMA_BASE_URL=http://localhost:11434
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
